<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Launchpad</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.launchpad.launcher</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/Launchpad.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Launchpad</string>
            <key>file-type</key>
            <integer>169</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Safari</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.Safari</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Safari</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Messages</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.MobileSMS</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/Messages.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Messages</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Mail</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.mail</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/Mail.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Mail</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Maps</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.Maps</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/Maps.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Maps</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Photos</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.Photos</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/Photos.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Photos</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>FaceTime</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.FaceTime</string>
            <key>dock-extra</key>
            <true/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/FaceTime.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>FaceTime</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Calendar</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.iCal</string>
            <key>dock-extra</key>
            <true/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/Calendar.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Calendar</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Contacts</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.AddressBook</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/Contacts.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Contacts</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Reminders</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.reminders</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/Reminders.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Reminders</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Notes</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.Notes</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/Notes.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Notes</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Freeform</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.freeform</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/Freeform.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Freeform</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Videos</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.TV</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/TV.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Videos</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Music</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.Music</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/Music.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Music</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Podcasts</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.podcasts</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/Podcasts.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Podcasts</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>App Store</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.AppStore</string>
            <key>dock-extra</key>
            <true/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/App%20Store.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>App Store</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>System Settings</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.systempreferences</string>
            <key>dock-extra</key>
            <true/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/System%20Settings.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>System Settings</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Terminal</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.Terminal</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///System/Applications/Utilities/Terminal.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Terminal</string>
            <key>file-type</key>
            <integer>1</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
</dict>
</plist>
