<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Siri</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.siri.launcher</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/Siri.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Siri</string>
            <key>file-type</key>
            <integer>169</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Launchpad</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.launchpad.launcher</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/Launchpad.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Launchpad</string>
            <key>file-type</key>
            <integer>169</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Safari</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.Safari</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/Safari.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Safari</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Mail</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.mail</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/Mail.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Mail</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Contacts</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.AddressBook</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/Contacts.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Contacts</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Calendar</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.iCal</string>
            <key>dock-extra</key>
            <true/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/Calendar.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Calendar</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Notes</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.Notes</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/Notes.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Notes</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Reminders</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.reminders</string>
            <key>dock-extra</key>
            <true/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/Reminders.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Reminders</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Maps</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.Maps</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/Maps.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Maps</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Photos</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.Photos</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/Photos.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Photos</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Messages</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.iChat</string>
            <key>dock-extra</key>
            <true/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/Messages.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Messages</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>FaceTime</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.FaceTime</string>
            <key>dock-extra</key>
            <true/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/FaceTime.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>FaceTime</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>iTunes</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.iTunes</string>
            <key>dock-extra</key>
            <true/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/iTunes.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>iTunes</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>iBooks</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.iBooksX</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/iBooks.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>iBooks</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>App Store</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.appstore</string>
            <key>dock-extra</key>
            <true/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/App%20Store.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>App Store</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>System Preferences</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.systempreferences</string>
            <key>dock-extra</key>
            <true/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/System%20Preferences.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>System Preferences</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
    <key>Terminal</key>
    <dict>
        <key>tile-data</key>
        <dict>
            <key>bundle-identifier</key>
            <string>com.apple.Terminal</string>
            <key>dock-extra</key>
            <false/>
            <key>file-data</key>
            <dict>
                <key>_CFURLString</key>
                <string>file:///Applications/Utilities/Terminal.app/</string>
                <key>_CFURLStringType</key>
                <integer>15</integer>
            </dict>
            <key>file-label</key>
            <string>Terminal</string>
            <key>file-type</key>
            <integer>41</integer>
        </dict>
        <key>tile-type</key>
        <string>file-tile</string>
    </dict>
</dict>
</plist>
